<div class="booktlk bg-dark text-secondary px-4 py-5 text-center">
  <div class="py-5">
    <h1 class="display-5 fw-bold text-white">Book Talk</h1>
    <div class="col-lg-6 mx-auto">
      <p class="fs-5 mb-4">Read a book, leave a thought</p>
      <p class="fs-7 mb-6">Review a book</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold" href="/book">➕ New Review</a>
      </div>
      <div>
        <br>
        <p class="fs-7 mb-6">user {{userData.first_name}} is currently logged in</p>
      </div>
    </div>
  </div>
</div>

<div>
  <h2 class="past-reviews text-center fw-bold text-decoration-underline">Past reviews</h2>
  <br>
  {{#each reviews as |review| }}
  <div class="card">
    <div class="card-header">
      <h4>Review of {{review.book.title}}</h4>
      <h5>Author: {{review.book.author}}</h5>
    </div>
    <div class="card-body">
      <h5>{{review.title}}</h5>
      <blockquote class="blockquote mb-0">
        <p>{{review.content}}</p>
        <p>Rating: {{review.rating}}</p>
        <footer class="blockquote-footer">Review by: <cite title="Source Title">{{review.user.first_name}}
            {{review.user.last_name}} on {{format_created_date review.date_created}}</cite></footer>
      </blockquote>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold" href="/new-comment">➕ Add comment</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>